 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head> 
		<script type="text/javascript" src="{{ .Site.BaseURL }}/js/script.js">
		</script>
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css">
	</head>

	<body>
		<div id="leftbar">
			<h1 id="title">Zece la bac</h1>

			<nav>
				<ul id="navbar">
					<li><a href="{{ .Site.BaseURL }}/index.html">Despre noi</a></li>
					<li><a href="{{ .Site.BaseURL }}/index.html">Lectii</a></li>
					<li><a href="{{ .Site.BaseURL }}/home/probleme_rezolvate">Probleme rezolvate</a></li>
					<li><a href="{{ .Site.BaseURL }}/index.html">Formule</a></li>
				</ul>
			</nav>
		</div>
		<div id="rightbar">
		<br>
			<div id="content">
